$bg-color: #fffffc;
$shadow-color: #c000b5; /*#f8a44f;*/ 
$border-color: #a00090; /*orange;*/

//Text colors
$primary-color: #41003d; /*#3f2403;*/
$text-color: rgb(100,0,100); /*#6f4006;*/
$select-color: #41003d; /*#6f4006;*/
$placeholder-color: #4b0046; /*#691305;*/ 

$el-height: 8vh;

html {
    height: 100%;
}

body {
    background-color: $bg-color;
    align-items: center;  
    width: 60%;
    height: 100%;
    min-width: 800px;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 3vw 0 3vw;  
    color: $text-color; 

    -webkit-font-smoothing: subpixel-antialiased;

    #app {
        //Variables to adjust with JS if content don't fit
        --top: 50%;
        --transform: translateY(-50%);

        height: 100%;

        #SignIn, #CourseList, #Video, #Question, #Result  {
            position: relative;

            //Responsive vars 
            top: var(--top); 
            transform: var(--transform);

            text-align: center;
            user-select: none;

            div.button, input.input, div.ans, div.quest {
                padding: 0;
                box-sizing: border-box;   
                width: 100%;
                height: $el-height;
                margin-top: 2vh;
                border-radius: 0.2em;
                line-height: $el-height;
                font-size: 4.8vh;
                box-shadow: 0px 3px 10px 0px $shadow-color;
                z-index: 1;
                text-align: center;
                transition: all 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035); //Optimal curve for smooth animations              
                border-bottom: 0 solid $border-color;
            }

            div.quest, h1.comment, div.result {
                display: block !important; 
                font-size: 5.2vh;
                color: $primary-color;
                box-shadow: none;
                height: unset;
                display: inline-block;
                line-height: $el-height * 0.7;
                min-height: $el-height;
                overflow-x: hidden;
                padding-top: 1vh;
                padding-bottom: 1vh;
                margin-bottom: 2vh;
                word-wrap: break-word;
            }
            
            //Input placeholder color change
            ::placeholder {
                color: $placeholder-color;
                opacity: 0.5;
            }

            input.input {
                border-width: 0px;
                outline: none;
            }

            //Removing standart look of input
            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }

            div.video-react {
                font-family: unset;
                background-color: unset;

                div.video-react-control-bar {
                    background-color: inherit;
                }
            }

            input.input:last-of-type, div.ans:last-of-type, div.video-react {                
                margin-bottom: 2vh;
            }
            
            div.button:hover, div.ans:hover, input.input:focus {
                //Size
                transform: scale(1.02);                
                -webkit-transform: scale(1.02);
                //Colors
                background-color: white;
                box-shadow: 0px 4px 12px 2px $shadow-color;
                border-bottom: 0.13em solid $border-color;
            }

            input.input:focus {
                transform: none;
            }
        }
    }
}

@media(max-width: 600px) {
    body {
        width: 100%;
        min-width: 400px;
    }
}

//Video styling
.video-react .video-react-big-play-button {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}

.video-react-big-play-button {
    border-color: $border-color !important; 
}

.video-react-video {
    border-radius: 10px !important;
    box-shadow: 0px 3px 10px 0px $shadow-color;
}