$bg-color: #f9f9f4;
$el-height: 8vh;

html {
    height: 100%;
}

body {
    background-color: #fffffc;
    align-items: center;  
    width: 60%;
    height: 100%;
    min-width: 800px;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 3vw 0 3vw;  
    color: #6f4006;  

    #app {
        --top: 50%;
        --transform: translateY(-50%);
        height: 100%;

        #SignIn, #CourseList, #Video, #Question, #Result  {
            position: relative; 
            top: var(--top); 
            transform: var(--transform);
            text-align: center;
            user-select: none;

            div.button, input.input, div.ans, div.quest {
                padding: 0;
                box-sizing: border-box;   
                width: 100%;
                height: $el-height;
                margin-top: 2vh;
                border-radius: 0.2em;
                line-height: $el-height;
                font-size: 4.8vh;
                box-shadow: 0px 3px 10px 0px #f8a44f;
                z-index: 1;
                text-align: center;
                transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);                
                border-bottom: 0 solid orange;
            }

            div.quest, h1.comment, div.result {
                font-size: 5.2vh;
                color: #3f2403;
                box-shadow: none;
                height: unset;
                display: inline-block;
                line-height: $el-height * 0.7;
                min-height: $el-height;
                overflow-x: hidden;
                padding-top: 1vh;
                padding-bottom: 1vh;
                margin-bottom: 2vh;
                word-wrap: break-word;
            }

            /*input.input::-webkit-input-placeholder {
                text-align: center;
            }
            
            input.input:-moz-placeholder {
                text-align: center;
            }*/
            
            ::placeholder {
                color: #691305;
                opacity: 0.4;
            }

            input.input {
                border-width: 0px;
                outline: none;
            }

            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }

            div.video-react {
                font-family: unset;
                background-color: unset;

                div.video-react-control-bar {
                    background-color: inherit;
                }
            }

            input.input:last-of-type, div.video-react {                
                margin-bottom: 2vh;
            }
            
            div.button:hover, div.ans:hover, input.input:focus {
                transform: scale(1.03, 1.03);                
                background-color: white;
                box-shadow: 0px 5px 15px 0px #f8a44f;
                border-bottom: 0.15em solid orange;
                color: #6f4006;
            }

            input.input:focus {
                transform: none;
            }
        }
    }
}

@media(max-width: 600px) {
    body {
        width: 100%;
        min-width: 400px;
    }
}

.video-react .video-react-big-play-button {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}

.video-react {
    color: orange !important;
}

.video-react-big-play-button {
    border-color: orange !important; 
}